################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

# .NET
/.vs
bin
obj
AppPackages
BundleArtifacts
.vs
docker-publish.ps1

# Java
target