name: "2. Benchmark server configuration"

on: workflow_dispatch

jobs:
  deploy:
    name: Deploy to EC2
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the files
        uses: actions/checkout@v2

      - name: Deploy to benchmark server
        uses: easingthemes/ssh-deploy@main
        env:
          SSH_PRIVATE_KEY: ${{ secrets.EC2_SSH_KEY }}
          REMOTE_HOST: ${{ secrets.BENCHMARK_DNS }}
          REMOTE_USER: ubuntu
          TARGET: /home/ubuntu

      - name: Ansible configuration
        uses: appleboy/ssh-action@master
        with:
          key: ${{ secrets.EC2_SSH_KEY }}
          host: ${{ secrets.BENCHMARK_DNS }}
          username: ubuntu
          port: 22 
          script:  |
            sudo apt update &&\
             sudo apt-get install -y ansible &&\
              cd infrastructure/ansible &&\
               ansible-playbook --connection=local provision_benchmark_server.yml

      - name: Set up cAdvisor
        uses: appleboy/ssh-action@master
        with:
          key: ${{ secrets.EC2_SSH_KEY }}
          host: ${{ secrets.BENCHMARK_DNS }}
          username: ubuntu
          port: 22 
          script:  |
            sudo docker-compose -f infrastructure/monitoring/docker-compose-cadvisor.yml up -d \
              && ansible-vault decrypt .ssh/ssh_key.yml \
                && expect "Vault password:" \
                  && send -- "${{ secrets.PASSWORD }}\n" \
                    && sudo chmod 600 .ssh/ssh_key.pem