name: "Preparing environment in the cloud"

on: 
  workflow_dispatch:
    inputs:
      instanceType:
        description: 'Instance type'     
        required: true
        type: 'choice'
        options:
        - t2.nano
        - t2.micro
        - t2.small
        - t2.medium
        - t2.large
        - t2.xlarge
        - t2.2xlarge

jobs:
  terraform:
    name: "Terraform"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Parametrize terraform instance type on AWS
        run: sed -i 's/INSTANCE_TYPE/${{ github.event.inputs.instanceType }}/g' infrastructure/terraform/benchmark_environment/ec2_instances.tf

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - name: Terraform Format
        id: fmt
        run: terraform fmt -check

      - name: Terraform Init
        id: init
        run: terraform -chdir="./infrastructure/terraform/benchmark_environment" init
      
      - name: Terraform Validate
        id: validate
        run: terraform -chdir="./infrastructure/terraform/benchmark_environment" validate -no-color

      - name: Terraform Plan
        id: plan
        run: terraform -chdir="./infrastructure/terraform/benchmark_environment" plan -no-color -input=false
        continue-on-error: true
  
      - name: Terraform Plan Status
        if: steps.plan.outcome == 'failure'
        run: exit 1

      - name: Terraform Apply
        run: terraform -chdir="./infrastructure/terraform/benchmark_environment" apply -auto-approve -input=false