name: "4. Run benchmarks"

on: 
  workflow_dispatch:
    inputs:
      technology:
        description: 'Choose technology'     
        required: true
        type: 'choice'
        options:
        - flask
        - dotnet
        - spring-boot
      architecture:
        description: 'Choose architecture'     
        required: true
        type: 'choice'
        options:
        - monolith
        - microservices

jobs:
  deploy:
    name: Performance of benchmarks
    runs-on: ubuntu-latest
    
    steps:
      - name: Downloading result files
        run: 'mkdir .ssh/ && echo "$SSH_KEY" > .ssh/admin.pem && chmod 600 .ssh/admin.pem && ls -lhra .ssh/ && cat .ssh/admin.pem'
        shell: bash
        env:
          SSH_KEY: ${{ secrets.EC2_SSH_KEY }}
          
      - name: Archive PDF file
        uses: actions/upload-artifact@v2
        with:
          name: .ssh/admin.pem
          path: output
        
#       - name: Download results
#         run:  scp -r -i ".ssh/admin.pem" ubuntu@${{ secrets.BENCHMARK_DNS }}:/home/ubuntu/output/ .

      - name: list files 1
        run:  ls -lhra

#       - name: list files 2
#         run:  ls -lhra output/
