name: "Launching benchmarks"

on: 
  workflow_dispatch:
    inputs:
      technology:
        description: 'Choose technology'     
        required: true
        type: 'choice'
        options:
        - flask
        - dotnet
        - spring-boot
      architecture:
        description: 'Choose architecture'     
        required: true
        type: 'choice'
        options:
        - monolith
        - microservices

jobs:
  deploy:
    name: Performance of benchmarks
    runs-on: ubuntu-latest

    steps:
      - name: Running benchmarks for  ${{ github.event.inputs.technology }} application in ${{ github.event.inputs.architecture }} version
        uses: appleboy/ssh-action@master
        with:
          key: ${{ secrets.EC2_SSH_KEY }}
          host: ${{ secrets.BENCHMARK_DNS }}
          username: ubuntu
          port: 22 
          script:  |
            bash scripts/run_benchmark.sh -f docker-compose-${{ github.event.inputs.technology }}-${{ github.event.inputs.architecture }}.yml -c false
